@{
    ViewData["Title"] = "ViewListSites";
}
@model List<WebSite>


<div class="ui center aligned basic segment">
    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        List of sites
    </h4>
    <a href="@Url.Action("AddSite")" class="ui teal labeled icon button">
        Create New Site
        <i class="add icon"></i>
    </a>
</div>

<div class="ui segment">
    <div class="ui relaxed divided list">
      @foreach (var site in Model)
      {
          <div class="item">
              <div class="right floated content">
                  <a href="@Url.Action("EditSite", new { uid = site.UID })" class="ui button">Edit</a>
              </div>
              <i class="large globe middle aligned icon"></i>
              <div class="content">
                  <a class="header">@site.Name</a>
                  <div class="description">@site.Domain</div>
              </div>
          </div>
      }
    </div>
</div>